<li class="nav-avatar-decorations">
  <LinkTo @route="adminPlugins.avatar-decorations">
    {{i18n "avatar_decorations.title"}}
  </LinkTo>
</li>
<li class="nav-avatar-decoration-groups">
  <LinkTo @route="adminPlugins.avatar-decoration-groups">
    {{i18n "avatar_decorations.admin.groups.title"}}
  </LinkTo>
</li>
