.badge-avatar-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 2;
  }
  
  .avatar-container {
    position: relative;
  }
  
  .user-card-avatar {
    position: relative;
  }
  
  .user-avatar-container {
    position: relative;
  }
  
  //admin panle badge avatar frame settings
  .badge-avatar-frame-settings {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--primary-low);
  }
  
  .badge-avatar-frame-preview {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px 0;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  